.nav {
    list-style-type: none;
    background-color: rgb(255, 206, 249);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nav li {
    float: left;
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}
ul.nav a:hover {
    background-color: #fcd2f0;
    color: white;
}
.active {
    background-color: antiquewhite;
}

p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

body {
    background-image: url("images/background3.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

div.polaroid {
    text-align: center;
    width: 47%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    display:inline-block;
}

div.container {
text-align: center;
padding: 10px 20px;
display:inline-block
}

.dot {
    background-color: blue;
    color: magenta;
    display: inline-block;
    padding: 30px;
    margin: 30px;

}

.contacts {
    font-size: larger;
}

.eastsideprep {
    text-align: center;
}

.resourcelist {
    text-align: center;
    font-size: larger;
    line-height: 1.8;
}

.ballet {
    text-align:center;
}